<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.1" id="jQMBB10">

    <name>Xerox Wings</name>
    <description>Xerox Wings Application</description>
    <author>Antenna</author>
      <!--
    <license>
         * Copyright (c) 2012 Antenna Software
         *
         * You may study, copy and/or modify this file and use it or any modified version within any
         * instance of an Antenna Software product which you have been granted a license to use.
         *
         * You may not redistribute copies or modified versions of this file to third parties or make it
         * accessible via any public medium without the written permission of Antenna Software.
         *
         * This copyright notice must be retained in all copies or modified versions of this file.
         */
    </license>       -->

    <content src="index.html"/>
    <icon src="images/icon.png"/>

</widget>
